@use "../utils";

@mixin dashboard-font {
	font-family: "Roboto Mono", monospace;
	font-size: 1rem;
	color: #bab6c0;
}

#dashboard {
	@include utils.full-size;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#dashboard__robot-data {
	@include dashboard-font;
	@include utils.full-size;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#dashboard__robot-controls {
	@include dashboard-font;
	@include utils.full-size;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#dashboard__robot-data-container {
	@include utils.full-size;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.dashboard__robot-data-positions__item {
	@include utils.full-size;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 1rem;
}

.dashboard__robot-data-positions__item__name {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	&:after {
		content: ":";
	}
}

.dashboard__robot-data-positions__item__value {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.robot-data-item--position {
}

.robot-data-item--claw {
}
